params {
  dataname = "petipre_sgn_2022"
  input_file = null
  SICILIAN = false
  pin_S = 0.1
  pin_z = 0.0
  bounds = 5
  light = false      
  svd_type = "normdonor"
  n_perms = 100
  grouping_level_2 = "developemental_age"
  grouping_level_1 = "cell_type"
  libraryType = "SS2SE"
  run_analysis = true
  samplesheet = "samplesheet_test.csv"
  annotator_pickle = "/data/l2_jan_lab/abel/alt_splicing_sgn/SICILIAN_references/SICILIAN_mouse_mm10_Refs/annotator_file/refseq_mm10.p6.pkl"
  exon_pickle = "/data/l2_jan_lab/abel/alt_splicing_sgn/SICILIAN_references/SICILIAN_mouse_mm10_Refs/exon_pickle_file/refseq_mm10.p6_exon_bounds.pkl"
  splice_pickle = "/data/l2_jan_lab/abel/alt_splicing_sgn/SICILIAN_references/SICILIAN_mouse_mm10_Refs/splice_pickle_file/refseq_mm10.p6_splices.pkl"
  meta = "/data/l2_jan_lab/abel/SpliZ/meta_test.csv"
  gtf = "/data/l2_jan_lab/abel/alt_splicing_sgn/SICILIAN_references/SICILIAN_mouse_mm10_Refs/gtf_file/GCF_000001635.26_GRCm38.p6_genomic.gtf"
  outdir = "./results/${params.dataname}"
  tracedir = "./results/${params.dataname}/pipeline_info"
}

params.schema_ignore_params = "input,single_end,show_hidden_params,validate_params,igenomes_ignore,igenomes_base,help,monochrome_logs,plaintext_email,max_multiqc_email_size,email_on_fail,email,multiqc_config,publish_dir_mode,genome,genomes" 

process {
  executor = 'slurm'
  memory = { 20.GB * task.attempt }
  time = { 12.h * task.attempt }
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3
}